body {
  position: relative;
  margin: 0;
  width: 100vw !important;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  z-index: 2;
}

.sites-button {
  background-color: #2093cd;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1.5rem 8rem;
  position: relative;
  transition: 0.2s ease-in-out;
  z-index: 20;
  text-decoration: none;
}

.sites-button:hover {
  background-color: #0c445f;
}

.sites-button:hover:before {
  border-color: #0c445f;
}

.sites-button:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #2093cd;
  top: -1rem;
  z-index: 19;
  transition: 0.2s ease-in-out;
  left: -1rem;
}

.hero {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-wrap: wrap;
  direction: row;
  border-bottom: 3px solid #111111;
  box-shadow: 5px 3px 5px #115482;
  justify-content: center;
  position: inherit;
}

.iPhone_image {
  flex: 30%;
  flex-direction: column;
  flex-grow: inherit;
  text-align: left;
  display: flex;
}

.iPhone {
  width: 38.5vh;
  height: auto;
  display: inherit;
  margin: auto 0px;
  padding-top: 7vh;
}

.intro {
  flex: 70%;
  height: 100%;
  flex-direction: column;
  flex-grow: inherit;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  display: flex;
}

.intro h2 {
  display: inherit;
  color: #2093cd;
  text-shadow: 2px 1px 6px #111111;
  font-size: 5.5rem;
  margin: 0;
  padding: 0px 2rem;
  margin: auto;
}

.intro p {
  padding-top: 2rem;
  font-size: 2.5rem;
}

.summary {
  width: 100%;
  height: 91vh;
}

.accompany_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  position: absolute;
}

.accompany_image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.summary_text {
  z-index: 10;
  width: 75%;
  text-align: center;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 5vh;
}

.summary_text p {
  color: white;
  font-size: 2.9rem;
  text-shadow: 3px 3px 6px #000000;
}

.finals {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  direction: row;
  justify-content: center;
  background-color: #e8e8e8;
}

.night {
  flex: 70%;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  flex-grow: inherit;
  height: 100%;
  border: 10px solid black;
  box-sizing: border-box;
}

.night img {
  object-fit: cover;
  object-position: right;
}

.finals_info {
  flex: 30%;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
}

.finals_info h2 {
  text-align: center;
  color: white;
  font-size: 8vh;
  padding: 4px;
}

.finals_info p {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  padding: 2px;
}

.content {
  margin: auto;
}

.qualified_tutors {
  width: 100%;
  height: 70vh;
}

.qtImage {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  z-index: -10;
  position: absolute;
}

.qtImage img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.qualified_text {
  padding-top: 1rem;
  padding-left: 3rem;
  width: 50vw;
  height: 10vh;
}

.qualified_text h2 {
  color: white;
  text-shadow: 3px 3px 6px #000000;
  font-size: 8vh;
}

.qualified_text button {
  background-color: #2093cd;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1.5rem 4rem;
  position: relative;
  transition: 0.2s ease-in-out;
  z-index: 20;
  box-shadow: 0px 5px 15px black;
}

.qualified_text button:hover {
  background-color: black;
  box-shadow: 0px 5px 150px black;
}

@media only screen and (max-width: 998px) and (min-width: 400px) {
  .hero {
    height: auto;
  }
  .intro {
    padding-top: 15rem;
  }
  .intro h2 {
    font-size: 5rem;
  }
  .iPhone {
    margin: 5rem auto;
    width: 38.5vh;
  }
  .iPhone_image {
    flex: 31%;
  }
  .summary_text p {
    font-size: 6vh;
  }
  .night {
    flex: 40%;
  }
  .finals_info {
    flex: 60%;
  }
  .finals_info h2 {
    font-size: 2rem;
  }
  .finals_info p {
    font-size: 3vh;
  }
  .qualified_text {
    width: 20rem;
  }
  .qualified_text h2 {
    font-size: 6vh;
  }
  .qualified_text button {
    background-color: #0c445f;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.5rem 4rem;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index: 20;
    box-shadow: 0px 5px 15px black;
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    height: auto;
  }
  .intro {
    padding-top: 15rem;
  }
  .intro h2 {
    font-size: 3.4rem;
  }
  .iPhone {
    margin: 5rem auto;
    width: 38.5vh;
  }
  .iPhone_image {
    flex: 31%;
  }
  .summary_text p {
    font-size: 5vh;
  }
  .night {
    flex: 0%;
    background-color: #000000;
  }
  .night img {
    width: 0px;
    height: 0px;
    color: #000000;
  }
  .finals_info {
    flex: 94%;
    position: absolute;
  }
  .finals_info h2 {
    font-size: 2rem;
    padding-right: 2%;
  }
  .finals_info p {
    font-size: 4vh;
    padding-right: 2%;
  }
  .qualified_text {
    width: 13rem;
    padding-left: 4vh;
  }
  .qualified_text h2 {
    font-size: 5vh;
  }
  .qualified_text button {
    background-color: #0c445f;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 1.5rem 3rem;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index: 20;
    box-shadow: 0px 5px 15px black;
  }
}
