body {
    position: relative;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero img {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero__content {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 7rem;
    margin-left: 6rem;
}

.hero__content p {
    margin: 0;
}

.sites-button {
    background-color: #2093cd;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1.5rem 4rem;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index: 20;
}

.sites-button:hover {
    background-color: #0c445f;
}

.sites-button:hover:before {
    border-color: #0c445f;
}

.sites-button:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #2093cd;
    top: -1rem;
    z-index: 19;
    transition: 0.2s ease-in-out;
    left: -1rem;
}

@media only screen and (min-width: 999px) {
    .hero__content {
        font-size: 5.75rem;
        margin-left: 5.75rem;
    }
}

@media only screen and (max-width: 998px) and (min-width: 400px) {
    .hero__content {
        font-size: 4rem;
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 399px) {
    .hero__content {
        font-size: 3rem;
        margin-left: 2rem;
    }
    .hero__content a {
        margin-top: 1rem;
    }
    .sites-button {
        font-size: 0.75rem;
    }
}