body {
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    top: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px #111111;
    background-color: #ffffff;
}

.nav__logo {
    color: #115482;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
}

.nav__logo img {
    width: 150px;
    margin-right: 2rem;
}

.nav__navigation {
    margin: auto;
    left: calc(50% - 172px);
    position: absolute;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    list-style: none;
}

.nav__navigation span {
    margin: 0rem 1rem;
    color: #2093cd;
}

.nav__navigation a {
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: black;
}

.nav__navigation a:hover {
    color: #2093cd;
    border-color: #2093cd;
}

.nav__login {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 1rem;
}

.nav__login--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
}

.nav__login img {
    height: 70px;
    border-radius: 50%;
    margin-left: 1.5rem;
    box-shadow: 2px 2px 10px #111111;
}

.nav__login--info-type {
    margin-top: -1.25rem;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #2093cd;
}

.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    direction: row;
    border-bottom: 3px solid #111111;
    box-shadow: 5px 3px 5px #115482;
    justify-content: center;
}

.intro {
    flex: 70%;
    height: 100%;
    flex-direction: column;
    flex-grow: inherit;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
}

.iPhone_image {
    flex: 30%;
    flex-direction: column;
    flex-grow: inherit;
    text-align: left;
    display: flex;
}

.iPhone {
    width: 40vh;
    height: auto;
    display: inherit;
    margin: auto 0px;
}

.intro h2 {
    display: inherit;
    color: #2093cd;
    text-shadow: 2px 1px 6px #111111;
    font-size: 6rem;
    margin: 0;
    padding: 0px 2rem;
    margin: auto;
}

.intro p {
    padding-top: 2rem;
    font-size: 2.5rem;
}

.summary {
    width: 100%;
    height: 100vh;
}

.accompany_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
    position: absolute;
}

.accompany_image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.summary_text {
    z-index: 10;
    width: 75%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.summary_text p {
    color: white;
    font-size: 2.9rem;
    text-shadow: 3px 3px 6px #000000;
}

.finals {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: center;
    background-color: #E8E8E8;
}

.night {
    flex: 70%;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    flex-grow: inherit;
    height: 100%;
    border: 10px solid black;
    box-sizing: border-box;
}

.night img {
    object-fit: cover;
    object-position: right;
}

.finals_info {
    flex: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
}

.finals_info h2 {
    text-align: center;
    color: white;
    font-size: 8vh;
    padding: 4px;
}

.finals_info p {
    text-align: center;
    color: white;
    font-size: 1.5vw;
    padding: 2px;
}

.content {
    position: absolute;
    margin: auto;
}

.qualified_tutors {
    width: 100%;
    height: 70vh;
}

.qtImage {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    z-index: -10;
    position: absolute;
}

.qtImage img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.qualified_text {
    padding-top: 1rem;
    padding-left: 3rem;
    width: 50vw;
    height: 10vh;
}

.qualified_text h2 {
    color: white;
    text-shadow: 3px 3px 6px #000000;
    font-size: 8vh;
}

.qualified_text button {
    background-color: #2093cd;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1.5rem 4rem;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index: 20;
    box-shadow: 0px 5px 15px black;
}

.qualified_text button:hover {
    background-color: black;
    box-shadow: 0px 5px 150px black;
}

@media only screen and (max-width: 998px) and (min-width: 400px) {
    .hero {
        height: auto;
    }
    .intro {
        padding-top: 1rem;
    }
    .intro h2 {
        font-size: 5rem;
    }
    .iPhone {
        margin: 5rem auto;
    }
    .summary_text p {
        font-size: 7vh;
    }
    .night {
        flex: 40%;
    }
    .finals_info {
        flex: 60%;
    }
    .finals_info h2 {
        font-size: 2rem;
    }
    .finals_info p {
        font-size: 4vh;
    }
    .qualified_text {
        width: 20rem;
    }
    .qualified_text h2 {
        font-size: 2.5rem;
    }
    .qualified_text button {
        background-color: #0c445f;
        border: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        padding: 1.5rem 4rem;
        position: relative;
        transition: 0.2s ease-in-out;
        z-index: 20;
        box-shadow: 0px 5px 15px black;
    }
}