* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  width: 100vw !important;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 
 * =======================================
 *                Tutors
 * =======================================
 */

body {
  position: relative;
  margin: 0;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#availabletutors.hero {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero img {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 20;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  border: 1px solid #eee;
  padding: 0;
  width: auto;
  height: auto;
  flex: 0 1 24%;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}


.profile .header {
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #111;
  color: white;
}

.profile li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.profile .grey {
  background-color: #eee;
  font-size: 1rem;
}

#hero__scroll__down.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  height: 50px;
  width: 50px;
  bottom: 2px;
}

.profile img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  height: 150px;
  /* border-radius: 50%; */
}


@media screen and (max-width: 998px) and (min-width: 400px) {
  .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile {
    flex: 0 1 calc(50% - 1em);
  }
}

@media only screen and (max-width: 399px) {
  .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile {
    flex: 0 1 calc(100% - 1em);
  }

}